params {
    input = null
    output = "results"
    batch = "batch"
    hvg = 2000
    labelkey = "cell_type"
    organism = "human"
    conda_base = null
    conda_metrics_env = null
}

// check if conda not provided. This could be improved, but let's leave it for the moment
if (!params.conda_base) {
    def conda_prefix = System.getenv('CONDA_PREFIX')
    def conda_exe = System.getenv('CONDA_EXE')
    def home = System.getProperty('user.home')
    
    if (conda_prefix) {
        // Get parent of parent: miniconda3 from miniconda3/envs/nextflow-env
        def envDir = new File(conda_prefix).parentFile  // Gets 'envs'
        params.conda_base = envDir.parentFile.path       // Gets 'miniconda3'
    } else if (conda_exe) {
        // Get base conda path from conda executable
        params.conda_base = new File(conda_exe).parent.parent.path
    } else if (new File("${home}/miniconda3").exists()) {
        params.conda_base = "${home}/miniconda3"
    } else if (new File("${home}/anaconda3").exists()) {
        params.conda_base = "${home}/anaconda3"
    } else if (new File("/opt/conda").exists()) {
        params.conda_base = "/opt/conda"
    } else {
        params.conda_base = "conda"
    }
}

process {
    // Ejecutar en local
    executor = 'local'  

    // Recursos específicos para cada proceso
    withName: PREPROCESSING {
        cpus = 4
        memory = '30 GB'
        time = '2h'
        // not sure if needed, check in the future
        conda = "${params.conda_base}/envs/scib-cNMF-env" 
    }

    withName: INTEGRATION_PY {
        cpus = 4
        memory = '30 GB'
        time = '48h'
    }

    withName: INTEGRATION_R {
        cpus = 4
        memory = '30 GB'
        time = '24h'
    }

    withName: METRICS {
        cpus = 4
        memory = '30 GB'
        time = '24h'
    }

    // Estrategia de error
    errorStrategy = { task.exitStatus in 130..140 ? 'retry' : 'terminate' }
    maxRetries = 3
}

conda {
    cacheDir = "conda_cache"
    useMamba = true
    enabled = true
    autoActivate = true
}
