params {
    input = null
    output = "results"
    batch = "batch"
    hvg = 2000
    labelkey = "cell_type"
    organism = "human"
}

process {
    // Ejecutar en local
    executor = 'local'  

    // Recursos específicos para cada proceso
    withName: PREPROCESSING {
        cpus = 4
        memory = '30 GB'
        time = '2h'
        conda = '/home/tgonzalos/miniconda3/envs/scib-cNMF-env'
        condaCreateOpts = ''
    }

    withName: INTEGRATION_PY {
        cpus = 4
        memory = '30 GB'
        time = '48h'
    }

    withName: INTEGRATION_R {
        cpus = 4
        memory = '30 GB'
        time = '24h'
    }

    withName: METRICS {
        cpus = 4
        memory = '30 GB'
        time = '24h'
    }

    // Estrategia de error
    errorStrategy = { task.exitStatus in 130..140 ? 'retry' : 'terminate' }
    maxRetries = 3
}

conda {
    cacheDir = "conda_cache"
    useMamba = true
    enabled = true
    autoActivate = true
}

// For HPC/Cluster onfiguration
profiles {
    standard {
        process.executor = 'local'
    }
    slurm {
        process.executor = 'slurm'
        process.queue = 'normal'
    }
    sge {
        process.executor = 'sge'
    }
}
